body {
    text-align: center;
}
h1 {
  color: lightblue;
  text-shadow: 2px 2px seagreen;
  font-size: 40px;
}
p {
  color: #bcc8e3;
  font-size: 35px;
}
.menu {
    list-style: none;
    font-family: sans-serif;
    position: absolute;
    top: 10px;
        right: 30px;
    cursor: pointer;
    z-index: 10;
    color: olivedrab; }

#section2 {
    font-size: 30px;
    color: darkslategrey;}
    
#section1 {
text-align: center;
  background: linear-gradient(cornflowerblue, darkcyan);
  background-repeat: no-repeat;
    width: 1000pxl;
}
.links {
    float: left; 
    color: lightsteelblue;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 9px;
    padding-left: 9px;
    font-family: sans-serif;
    font-size: 20px;
}
.line {
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto; }
#name {
    font-size: 30px;
    line-height: 1.2;
    font-family: 'Quicksand', cursive;
}
div {
    text-align: center;
    width: 100pxl;
}
.parallax-inner {
    10px;
}
#reviews {
    text-align: center;
    background: linear-gradient(#000428,#02aab0)
}
#gallery {
    text-align: center;
  background: linear-gradient(#4ca1af,#c4e0e5);
}
html{
    scroll-behavior: smooth;
}